<!DOCTYPE html>
<html>
    <head>
        <title><%= productName %></title>

        <meta charset="utf-8" />
        <meta name="description" content="<%= productDescription %>" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta
            name="viewport"
            content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
        />

        <link
            rel="icon"
            type="image/png"
            sizes="128x128"
            href="icons/favicon-128x128.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="icons/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="icons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="icons/favicon-16x16.png"
        />
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!--подключение библиотек CSS-------------------------------------------------------->
        <link href="src/css/w3.css" rel="stylesheet" />
        <!-- <link
            href="src/css/font-awesome-4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        /> -->
        <!-- <link href="css/w3-colors-2019.css" rel="stylesheet"> -->
        <!-- <link href="css/w3-colors-2020.css" rel="stylesheet"> -->
        <!-- <link href="css/w3-colors-2021.css" rel="stylesheet"> -->
        <link href="src/css/tabulator.min.css" rel="stylesheet" />
        <link href="src/css/modal.css" rel="stylesheet" />
        <link href="src/css/app.css" rel="stylesheet" />
        <!-- <link href="src/css/materialdesignicons.min.css" rel="stylesheet" /> -->
    </head>
    <body>
        <!-- quasar:entry-point -->
    </body>
</html>
